---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = site.data.authors[page.author] %}

	  {%- if author or page.author -%}


        • <span itemprop="author" itemscope itemtype="https://schema.org/Person"><span class="p-author h-card" itemprop="name">
        
        {%- if author -%}
	        {%- if author.url -%}
	    		<a href="{{ author.url }}">{{ author.name }}</a>
	  		{%- else -%}
		    	{{ author.name }}
	  		{%- endif -%}
        {%- else -%}
	        {{ page.author }}
      	{%- endif -%}        

        </span></span>
      {%- endif -%}
    {%- assign words = content | strip_html | number_of_words -%}
{%- assign reading_time = words | divided_by: 200 -%}
{%- if reading_time < 1 -%}
  {%- assign reading_time = 1 -%}
{%- endif -%}
<span class="post-meta-separator">•</span>
<span class="post-reading-time">
  {{ reading_time }} min read
</span>
    </p>
      
        {%- if page.description -%}
    <p class="post-description" itemprop="description">
      {{ page.description }}
    </p>
  {%- endif -%}
      
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
